*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    background-color: black;
    position: sticky;
    top: 0px;
    padding: 15px 0px;
}
.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    color: white;
}
.cakes a{
    font-size: 18px;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 10px;
}
.logo img{
    width: 65%;
}
a{
    text-decoration: none;
}
.otherelements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.otherelements img{
    width: 30px;
}
.search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inputtag{
    padding-right: 100px;
}
.search img{
    position: relative;
    width: 31px;
    right: 34px;
}
input{
    border: white solid 1px;
    border-radius: 60px;
    background-color: black;
    padding: 5px 10px 5px 10px;
}
input::placeholder{
    color: white;
}
.cakes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.cakes p1{
    color: #DD4889;
}
.cakes p2{
    color: white;
}
.firstpage{
    background-image: url(page3main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 250px 0px 250px 0px;
}
.firstpage h1{
    color: #DD4889;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 5px white;
    font-size: 50px;
}
.firstpage p{
    color: white;
    font-size: 25px;
    padding: 0px 200px 0px 200px;}
.black1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 100px; */
    padding: 50px;
    background-image: url(pink1.png);
}
.black2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 100px; */
    padding: 50px;
    background-image: url(pink2.png);
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 40px 0px;
    gap: 30px;
}
.left img{
    width: 100%;
    height: 200px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    color: black;
}
.right h1{
    font-size: 18px;
}
.right p{
    text-align: justify;
}
.pricekg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.button1{
    border: #DD4889 solid 3px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
}
.button2{
    border: #DD4889 solid 3px;
    background-color: #DD4889;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
}
.button3{
    border: white solid 3px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
}
.button4{
    border: white solid 3px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
}
.dots{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: black;
    height: 60vh;
    color: white;
    gap: 30px;
    border-bottom: solid white 2px;
}
footer h2{
    font-size: 20px;
    align-items: center;
}
.lineone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.lineone img{
    width: 30px;
}
.lineone h2{
    color: #DD4889;
}
.footercontents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.footercontents h3{
    color: #DD4889;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.lastline{
    color: #DD4889;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 20px 50px 20px 50px;
}

@media screen and (max-width : 500px) {
  nav,.container,.logo,.otherelements,.search,.cakes,.firstpage,.black1,.black2,.main,.right,.pricekg,.buttons,.dots,footer,.lineone,.footercontents,.foot{
    display: flex;
 }
 .otherelements {
    gap: 15px;
 }
 .cakes {
    gap: 10px;
 }
  .firstpage{
    padding: 0px;
 }
 .firstpage h1{
    padding: 50px 0px ;
    font-size: 22px;
 }
 .firstpage p{
    font-size: 12px;
    padding: 0px 20px 100px 20px;
 }
 .black1{
    gap: 0px;
    padding: 0px;
 }
  .footercontents {
    gap: 24px;
 }
}
 @media (min-width:700px) and(max-width:880px){

}